{% extends "base.html" %}
{% block content %}

<div class="row">

    <div class = "row m-3">

        <div class = "col-6 mx-auto">

            <div class="card">
                <div class="card-body bg-light border">
                    <h5 class="card-title">Doctor Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date</h6>
                    <div style="min-height:7rem;">
        
                        <p> Description here , doc notes like other stuff and things </p>
                        
                    </div>
        
                </div>
            </div>

        </div>
    </div>




</div>


{% endblock content %}