{% extends "base.html" %}
{% block content %}
<div class = "row">


    <div class = "row m-5">

        <div class="col">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Vaccination Name</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Vaccine Date</h6>
                  <a href="#" class="card-link">Certificate Link</a>
                </div>
              </div>

        </div>

    </div>

    


</div>
{% endblock content %}